.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: var(--color-primary);
}
.btn:focus,
.btn:focus-visible {
  outline: 1px auto var(--color-primary);;
}